name: Build and Test with Bazel

on:
  # Run when code is pushed to main branch
  push:
    branches: [ "main" ]

  # Run when a pull request targets main
  pull_request:
    branches: [ "main" ]

  # Allow manual trigger from GitHub Actions UI
  workflow_dispatch:

jobs:
  # -------------------------------------------------
  # Job 1: Install Bazelisk via reusable workflow
  # -------------------------------------------------

  install-bazelisk:
    # Call reusable workflow from EternalGitActions repo
    uses: AdarshU-tech/EternalGitActions/.github/workflows/bazelisk_download.yml@main
    secrets:
      MY_SECRET_TOKEN: ${{ secrets.MY_SECRET_TOKEN }}
    with:
      # Requested Bazel version (may be overridden by .bazelversion)
      bazel_version: "7.0.2"

      # Whether to print bazel --version in setup job
      verify_install: true

  # -------------------------------------------------
  # Job 2: Build & Test using Bazel
  # -------------------------------------------------
  build:
    # Ensure setup job completes successfully
    needs: install-bazelisk

    # Use GitHub-hosted Ubuntu runner
    runs-on: ubuntu-latest
    env:
      TOK : ${{ secrets.BAZEL_REMOTE_CACHE_TOKEN }}

    steps:
      # Checkout repository source code
      - name: Check out repository
        uses: actions/checkout@v4

      - name: SECRETS LENGTH
        run: echo "${#TOK}"

      # Print Bazel version resolved by Bazelisk
      - name: Show Bazel version from setup job
        run: |
          echo "Resolved Bazel version: \
          ${{ needs.install-bazelisk.outputs.resolved_bazel_version }}"

      # Build Bazel target
      - name: Build the app
        run: bazel build //:hello_app

      # Run unit tests
      - name: Run unit tests
        run: bazel test //:hello_test

      - name: Show ENV variables
        run: |
             echo "Repo: $GITHUB_REPOSITORY"
             echo "Branch: $GITHUB_REF"
             echo "Workspace: $GITHUB_WORKSPACE"
             echo "FOO=bar" >> $GITHUB_ENV


      # Upload build output as artifact
      - name: Upload binary artifact
        uses: actions/upload-artifact@v4
        with:
          name: hello_app
          path: bazel-bin/hello_app
