name: Build and Test with Bazel

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Set up Bazel
        uses: bazel-contrib/setup-bazel@main
        with:
          bazel-version: 6.5.0

      - name: Build the app
        run: bazel build //:hello_app

      - name: Run unit tests
        run: bazel test //:hello_test

      - name: Upload binary artifact
        uses: actions/upload-artifact@v4
        with:
          name: hello_app
          path: bazel-bin/hello_app
